.product-container {
  padding-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  min-height: 88vh;
}

.product-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
}

.product-item {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Needed for positioning buttons */
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.product-buttons button {
  padding: 10px;
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.product-buttons button:hover {
  background-color: #2980b9;
}

.product-description {
  height: 60px; /* Adjust based on your content */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-weight: bold;
}
