.product-container {
  padding-top: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #bbbbbb;
  transition: background-color 0.3s;
  flex-direction: column;
  min-height: 88vh;
}
.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1;
  transition: flex-grow 0.3s;
  margin-bottom: 20px;
  max-width: 1200px;
  overflow-x: hidden;
}
.product-item {
  width: 250px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-img {
  display: flex;
  flex: 1;
  width: 200px;
  height: 400px;
  object-fit: cover;
}
.product-description {
  height: 10%;
}
.product-price {
  margin-top: 0;
}
